<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cipraappp">

    <!-- Internet Permission -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CIPRAAppp"
        tools:targetApi="31">

        <!-- Splash Activity -->
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.CIPRAAppp.SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"/>

        <!-- Image Display Activity -->
        <activity
            android:name=".ImageDisplayActivity"
            android:exported="true"/>

    </application>
</manifest>
